<li>
  <p>
    <strong><%= comment.user.nickname %></strong> said:
  </p>
  <p>
    <%= comment.body %>
  </p>

  <% if current_user == comment.user %>
    <%= link_to 'Delete comment', post_comment_path(post_id: @post.id, id: comment.id),
      {
        class: 'btn btn-danger',
        method: :delete,
        data: { confirm: 'Are you sure' }
      }
    %>
  <% end %>
</li>
