<% if current_user == @user %>
  <div>
    <%= link_to "New post", new_post_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="user">
  <h2 class="user-name"> <%= @user.nickname %></h2>

  <div>
    <p><b>followers:</b> <%= @user.followers.count %></p>
    <p><b>followings:</b> <%= @user.followings.count %></p>
  </div>

  <% if user_signed_in? && current_user != @user %>
    <div>
      <% unless @user.followers.include?(current_user) %>
        <%= link_to 'Follow', subscribe_path(follower_id: current_user.id, following_id: @user.id),
          {
            method: :post,
            class: 'btn btn-info mb-3'
          }
        %>
      <% else %>
        <%= link_to 'Unfollow', unsubscribe_path(follower_id: current_user.id, following_id: @user.id),
          {
            method: :delete,
            class: 'btn btn-danger mb-3'
          }
        %>
      <% end %>
    </div>
  <% end %>

  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: 100, class: 'avatar-image rounded-circle' %>
  <% end %>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="post border rounded border-primary m-1 col-3">

        <h2 class="mt-5"><%= post.title %></h2>

        <%= link_to "View This Post", post_path(post), class: 'btn btn-info' %>

        <% if post.images.attached? %>

          <% if post.images.count > 1 %>

            <div class="">
              <div id="carouselExampleIndicators<%= post.id %>" data-interval="false" class="carousel slide carousel-edit bg-dark" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% post.images.each do |image| %>
                    <% if post.images.index(image) == 0 %>
                      <li data-target="#carouselExampleIndicators<%= post.id %>" data-slide-to="0" class="active"></li>
                    <% else %>
                      <li data-target="#carouselExampleIndicators<%= post.id %>" data-slide-to="<%= post.images.index(image) %>"></li>
                    <% end %>
                  <% end %>
                </ol>

                <div class="carousel-inner">
                  <% post.images.each do |image| %>

                    <% if post.images.index(image) == 0 %>

                      <div class="carousel-item active">
                        <%= image_tag image, class: 'd-block carousel-image' %>

                        <div class="text-center">
                          <% if current_user == @user %>
                            <%= link_to 'Delete', purge_image_path(image),
                              {
                                method: :delete,
                                class: 'btn btn-danger',
                                data: { confirm: 'Are you sure?' }
                              }
                            %>
                          <% end %>
                        </div>
                      </div>

                    <% else %>

                      <div class="carousel-item">
                        <%= image_tag image, class: 'd-block carousel-image' %>

                        <div class="text-center">
                          <% if current_user == @user %>
                            <%= link_to 'Delete', purge_image_path(image),
                              {
                                method: :delete,
                                class: 'btn btn-danger',
                                data: { confirm: 'Are you sure?' }
                              }
                            %>
                          <% end %>

                        </div>
                      </div>

                    <% end %>
                  <% end %>
                </div>

                <a class="carousel-control-prev bg-secondary" href="#carouselExampleIndicators<%= post.id %>" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-secondary" href="#carouselExampleIndicators<%= post.id %>" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>

          <% else %>
            <div class="d-flex flex-column align-items-center">
              <% post.images.each do |image| %>

                <div>
                  <%= image_tag image, size: 100, class: 'carousel-image' %>
                </div>

                <div class="text-center d-flex align-items-center">
                  <% if current_user == @user %>
                    <%= link_to 'Delete', purge_image_path(image),
                      {
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: 'Are you sure?' }
                      }
                    %>
                  <% end %>
                </div>

              <% end %>
            </div>
          <% end %>

        <% end %>

        <div class="mt-3">
          <p><b>Likes: </b><%= post.likes.count %></p>
        </div>

        <% if current_user == @user %>
          <div>
            <%= link_to 'Delete Post', post_path(post),
              {
                method: :delete,
                data: { confirm: 'Are you sure' },
                class: 'btn btn-danger mb-1'
              }
            %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>

</div>
