<h2>Latest Posts: </h2>

<% @posts.each do |post| %>

  <div class="mb-4 border border-primary rounded p-3">
    <p><b>User's profile: </b><%= link_to "#{post.user.nickname}", user_path(post.user) %></p>

    <h3><%= post.title %></h3>

    <div class="post">

      <% if post.images.attached? %>

        <% if post.images.count > 1 %>

          <div class="d-flex justify-content-center">
            <div id="carouselExampleIndicators<%= post.id %>" data-interval="false" class="carousel slide bg-dark" data-ride="carousel">
              <ol class="carousel-indicators">
                <% post.images.each do |image| %>
                  <% if post.images.index(image) == 0 %>
                    <li data-target="#carouselExampleIndicators<%= post.id %>" data-slide-to="0" class="active"></li>
                  <% else %>
                    <li data-target="#carouselExampleIndicators<%= post.id %>" data-slide-to="<%= post.images.index(image) %>"></li>
                  <% end %>
                <% end %>
              </ol>

              <div class="carousel-inner">
                <% post.images.each do |image| %>

                  <% if post.images.index(image) == 0 %>

                    <div class="carousel-item active">
                      <%= image_tag image, class: 'd-block post-show' %>

                      <div class="text-center">
                        <% if current_user == post.user %>
                          <%= link_to 'Delete', purge_image_path(image),
                            {
                              method: :delete,
                              class: 'btn btn-danger',
                              data: { confirm: 'Are you sure?' }
                            }
                          %>
                        <% end %>
                      </div>
                    </div>

                  <% else %>

                    <div class="carousel-item">
                      <%= image_tag image, class: 'd-block post-show' %>

                      <div class="text-center">
                        <% if current_user == post.user %>
                          <%= link_to 'Delete', purge_image_path(image),
                            {
                              method: :delete,
                              class: 'btn btn-danger',
                              data: { confirm: 'Are you sure?' }
                            }
                          %>
                        <% end %>

                      </div>
                    </div>

                  <% end %>
                <% end %>
              </div>

              <a class="carousel-control-prev bg-secondary" href="#carouselExampleIndicators<%= post.id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next bg-secondary" href="#carouselExampleIndicators<%= post.id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>

        <% else %>
          <div class="d-flex flex-column align-items-center">
            <% post.images.each do |image| %>

              <div>
                <%= image_tag image, size: 100, class: 'post-show' %>
              </div>

              <div class="text-center d-flex align-items-center">
                <% if current_user == post.user %>
                  <%= link_to 'Delete', purge_image_path(image),
                    {
                      method: :delete,
                      class: 'btn btn-danger',
                      data: { confirm: 'Are you sure?' }
                    }
                  %>
                <% end %>
              </div>

            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>

    <div class="mt-3">
      <p><b>Likes: </b><%= post.likes.count %></p>
    </div>

    <%= link_to 'View post', post_path(post), class: 'btn btn-info mb-2' %>

    <% if current_user == post.user %>
      <div>
        <%= link_to 'Delete Post', post_path(post),
          {
            method: :delete,
            data: { confirm: 'Are you sure' },
            class: 'btn btn-danger mb-1'
          }
        %>
      </div>
    <% end %>
  </div>

<% end %>
