<h2>New post</h2>

<%= form_with model: @post, local: true do |f| %>

  <% if @post && @post.errors.any? %>
    <div class="errors">
      Total errors: <%= @post.errors.count %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %> <br/>
    <%= f.text_field :title, class: 'form-control w-25' %>
  </div>

  <div class="form-group">
    <%= f.label :text %> <br/>
    <%= f.text_area :text, class: 'form-control w-25' %>
  </div>

  <div>
    <%= f.label :images %><br />
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="">
    <%= f.submit class: 'btn' %>
  </div>

<% end %>
