<div class="post">
  <p><b>User's profile: </b><%= link_to "#{@post.user.nickname}", user_path(@post.user) %></p>
  <h2 class="mt-5"><%= @post.title %></h2>
  <p><%= @post.text %></p>

  <% if @post.images.count > 1 %>

    <div class="d-flex justify-content-center">
      <div id="carouselExampleIndicators<%= @post.id %>" data-interval="false" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @post.images.each do |image| %>
            <% if @post.images.index(image) == 0 %>
              <li data-target="#carouselExampleIndicators<%= @post.id %>" data-slide-to="0" class="active"></li>
            <% else %>
              <li data-target="#carouselExampleIndicators<%= @post.id %>" data-slide-to="<%= @post.images.index(image) %>"></li>
            <% end %>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% @post.images.each do |image| %>

            <% if @post.images.index(image) == 0 %>

              <div class="carousel-item active">
                <%= image_tag image, class: 'd-block post-show' %>

                <div class="text-center">
                  <% if current_user == @post.user %>
                    <%= link_to 'Delete', purge_image_path(image),
                      {
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: 'Are you sure?' }
                      }
                    %>
                  <% end %>
                </div>
              </div>

            <% else %>

              <div class="carousel-item">
                <%= image_tag image, class: 'd-block post-show' %>

                <div class="text-center">
                  <% if current_user == @post.user %>
                    <%= link_to 'Delete', purge_image_path(image),
                      {
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: 'Are you sure?' }
                      }
                    %>
                  <% end %>

                </div>
              </div>

            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators<%= @post.id %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary p-5" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators<%= @post.id %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-secondary p-5" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

  <% else %>
    <div class="d-flex flex-column align-items-center">

      <% if @post.images.attached? %>
        <div>
          <%= image_tag @post.images.first, size: 100, class: 'post-show' %>
        </div>

        <div class="text-center d-flex align-items-center">
          <% if current_user == @post.user %>
            <%= link_to 'Delete', purge_image_path(@post.images.first),
              {
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' }
              }
            %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_user == @post.user %>
    <div>
      <%= link_to 'Delete Post', post_path(@post),
        {
          method: :delete,
          data: { confirm: 'Are you sure' },
          class: 'btn btn-warning mb-1'
        }
      %>
    </div>
  <% end %>

</div>

<div>
  <% if user_signed_in? %>
    <% unless Like.where(post_id: @post.id, user_id: current_user.id).count > 0 %>
      <%= link_to 'Like', likes_path(post_id: @post.id),
        {
          method: :post,
          class: 'btn btn-success'
        }
      %>
    <% else %>
      <%= link_to 'Unlike', like_path(post_id: @post.id),
        {
          method: :delete,
          class: 'btn btn-danger'
        }
      %>
    <% end %>
  <% end %>

  <p><b>Likes: </b><%= @post.likes.count %></p>
</div>

<h2>
  <%= link_to 'Comments', "#comment-section#{@post.id}",
    {
      id: 'comment-link',
      data: { toggle: 'collapse' },
      role: 'button',
      aria: {
        expanded: 'false',
        controls: 'comment-section'
      }
    }
  %>
</h2>
<div id="comment-section<%= @post.id %>" class="collapse mb-5">
  <ol>
    <%= render @post.comments %>
  </ol>

  <% if user_signed_in? %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  <% end %>
</div>
