@import "bootstrap";
// @import "bootstrap/theme";
.carousel-edit{
  width: 200px;
  height: 200px !important;
}
.carousel-image{
  object-fit: contain;
  height: 100px;
  width: auto;
}

.carousel{
  height: 500px;
}
.post-show{
  object-fit: contain;
  height: 400px;
  width: auto;
}
